{% extends 'layout.html' %}
{% load static %}
{% block content %}
<section id="content3">
        Private medical Center has been providing high quality medical services. 
        Our center has a team of highly qualified professionals to meet your health care 
        needs and offers a wide range of low-cost medical services.
        In addition to our medical services and to the comfort of our patients, 
        we have the following services: <br>
        Preventive Care <br>
        Chronic Care Management <br>
        Women's Health <br>
        Mental Health Counseling <br> 
        Allergy Testing <br>
        Immunizations <br>
        Blood Work <br>
        Ultrasounds <br>
        and more.<br>
        Our office is conveniently located in the heart of Miami for your convenience. 
        We invite you to explore the list of services we offer and hope to serve you soon.
</section>



{% endblock %}